body {
    background-color: green;
}

img {
display: block;
margin: 10px auto;
width: 50%;
}

a {
 color: bisque;
}

h2 {
    display: block;
    background-color: #BF861B;
    text-align: center;
    color: silver;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin: 0 auto;
}

@media(min-width: 768px) {
    body {
        background-color: green;
    }
}

@media(min-width: 1024px) {
    body {
        background-color: green;
    }
}

/* desktop styles */

@media (min-width: 768px) {
    header img {
        width: 30%;
    }
    nav li {
        display: inline-block;
    }
    nav li a {
        width: 200px;
    }
    main img{
        width: 35%;
    }
    .col img {
        width: 30%;
    }
    .col {
        width: 6 auto;
        margin: 20px auto;
    }
}

/* desktop styles */

@media (min-width: 1024px) {
    nav {
        padding: 5px 0;

    }
    main img {
        width: 20%;

    }

    #lower {
        display: flex;
    }
    .col {
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 20px;
    }
}

/* phone styles */
@media (min-width: 414px) {
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; 
}

nav ul li a{
    font-size: 45px;
}

}